<div class="list-group"
  <a hfref="#" class="list-group-item">News</a>
  <a hfref="#" class="list-group-item">Tutorials</a>
  <a hfref="#" class="list-group-item">Releases</a>
  <a hfref="#" class="list-group-item">Events</a>
</div>