<div class="row"> <!-- row 2 -->
              <div class="col-md-6">
                <div class="post">
                  <img src="images/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by brad on Oct 24 2014</small>
                    <p>Cray +1 asymmetrical retro keytar messenger bag. Lomo flannel plaid Intelligentsia literally, deep v Bushwick. Crucifix before they sold out skateboard umami photo booth. Lumbersexual chillwave put a bird on it, pickled mlkshk gastropub flexitarian tattooed literally swag chambray iPhone. Narwhal Austin whatever heirloom trust fund irony tilde. Kickstarter Thundercats aesthetic, salvia crucifix semiotics Brooklyn Neutra dreamcatcher whatever. Carles single-origin coffee twee, semiotics raw denim chambray banh mi sriracha.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post">
                  <img src="images/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by brad on Oct 24 2014</small>
                    <p>Cray +1 asymmetrical retro keytar messenger bag. Lomo flannel plaid Intelligentsia literally, deep v Bushwick. Crucifix before they sold out skateboard umami photo booth. Lumbersexual chillwave put a bird on it, pickled mlkshk gastropub flexitarian tattooed literally swag chambray iPhone. Narwhal Austin whatever heirloom trust fund irony tilde. Kickstarter Thundercats aesthetic, salvia crucifix semiotics Brooklyn Neutra dreamcatcher whatever. Carles single-origin coffee twee, semiotics raw denim chambray banh mi sriracha.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
            </div> <!-- end row 2 -->

            <div class="row"> <!-- row 3 -->
              <div class="col-md-6">
                <div class="post">
                  <img src="images/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by brad on Oct 24 2014</small>
                    <p>Cray +1 asymmetrical retro keytar messenger bag. Lomo flannel plaid Intelligentsia literally, deep v Bushwick. Crucifix before they sold out skateboard umami photo booth. Lumbersexual chillwave put a bird on it, pickled mlkshk gastropub flexitarian tattooed literally swag chambray iPhone. Narwhal Austin whatever heirloom trust fund irony tilde. Kickstarter Thundercats aesthetic, salvia crucifix semiotics Brooklyn Neutra dreamcatcher whatever. Carles single-origin coffee twee, semiotics raw denim chambray banh mi sriracha.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post">
                  <img src="images/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by brad on Oct 24 2014</small>
                    <p>Cray +1 asymmetrical retro keytar messenger bag. Lomo flannel plaid Intelligentsia literally, deep v Bushwick. Crucifix before they sold out skateboard umami photo booth. Lumbersexual chillwave put a bird on it, pickled mlkshk gastropub flexitarian tattooed literally swag chambray iPhone. Narwhal Austin whatever heirloom trust fund irony tilde. Kickstarter Thundercats aesthetic, salvia crucifix semiotics Brooklyn Neutra dreamcatcher whatever. Carles single-origin coffee twee, semiotics raw denim chambray banh mi sriracha.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
            </div>
